# EditorConfig is awesome: http://EditorConfig.org
# Uses editorconfig to maintain consistent coding styles

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 200

[*.{tf,tfvars}]
indent_size = 2
indent_style = space

[*.{json,yml,yaml,j2,jsonnet,libsonnet}]
indent_style = space
indent_size = 2

[shell]
indent_style = tab
indent_size = 4

[*.sh]
indent_style = tab
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.conf]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
